.note__header {
  display: flex;
  justify-content: space-between;
}

.buttons__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.note__button {
  cursor: pointer;
  height: 2.5rem;
  color: var(--main-button-color);
  border: 1px solid var(--main-button-color);
  border-radius: 2px;
  text-transform: uppercase;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.note__button:hover {
  color: var(--button-hover-color);
  border: 1px solid var(--button-hover-color);
}

.note__button--link {
  font-size: 1.2rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 75px;
}
